.bg-003b4a {
    background: #003b4a;
}
h1 {
  font-family: Georgia, serif;
}
#change-role-country {
  cursor: pointer;
}
.navbar-main .navbar-nav {
  font-size: 1.0875rem;
}
.partner-list {
  grid-template-columns: 33.33% 33.33% 33.33%;
}
.partner-list > li > a > img { 
  object-fit: contain;
  height: 2.25rem;
}
.partner-list > li > a { 
  background-color: #fcfcfc;
}
.partner-list > li > a:hover { 
  background-color: #f9f9f9;
}
.partner-list > li > a:hover > h2 { 
  text-decoration: underline;
}
